//Created by lucero on 28/11/2016.
extends layout

block content
   div.container
       div.header.clearfix
           h3.T1 An experiment in distributed evolutionary computation

       div.row
           div.col-md-12
               div.panel.panel-default
                   div.panel-heading
                       h4.Ec Experiment completed
                   div.panel-body

                       | Today 28th of november, the experiment of distributed
                       | evolutionary computation has ended.
                       | We thank all the volunteers who collaborated with the experiment,
                       | especially the following users:
       div.row
           div.col-md-12
               div.panel.panel-default
                   div.panel-body
                       div.row
                           div.col-md-4
                               h4.Ec Registered Volunteers
                               table.tabla
                                 tr
                                   td
                                      Strong.list-group-item Users
                                   td
                                       strong.list-group-item Score
                                   td
                                       strong.list-group-item Level

                                   td
                                       Strong.list-group-item  Users
                                   td
                                       strong.list-group-item Score
                                   td
                                       strong.list-group-item Level
                                 tr
                                   td
                                       li.list-group-item d21430
                                   td
                                       li.list-group-item 396081
                                   td
                                       li.list-group-item  100
                                   td
                                         li.list-group-item proteo5
                                   td
                                         li.list-group-item 11262
                                   td
                                         li.list-group-item  100
                                 tr
                                   td
                                       li.list-group-item renteriarene
                                   td
                                       li.list-group-item 137259
                                   td
                                       li.list-group-item  100
                                   td
                                         li.list-group-item damiansai
                                   td
                                         li.list-group-item 6768
                                   td
                                         li.list-group-item  79
                                 tr
                                   td
                                       li.list-group-item Lucero
                                   td
                                       li.list-group-item 56032
                                   td
                                       li.list-group-item  100
                                   td
                                         li.list-group-item yunkio
                                   td
                                         li.list-group-item 5119
                                   td
                                         li.list-group-item  51
                                 tr
                                   td
                                       li.list-group-item mariosky
                                   td
                                       li.list-group-item 50309
                                   td
                                       li.list-group-item  100
                                   td
                                         li.list-group-item kmeri
                                   td
                                         li.list-group-item 4103
                                   td
                                         li.list-group-item  33
                                 tr
                                   td
                                       li.list-group-item enlavin
                                   td
                                       li.list-group-item 48779
                                   td
                                       li.list-group-item  100
                                   td
                                         li.list-group-item renatolrr
                                   td
                                         li.list-group-item 3916
                                   td
                                         li.list-group-item  30
                                 tr
                                   td
                                       li.list-group-item rovi8491
                                   td
                                       li.list-group-item 41637
                                   td
                                       li.list-group-item  100
                                   td
                                         li.list-group-item WaterKhair
                                   td
                                         li.list-group-item 2440
                                   td
                                         li.list-group-item  11
                                 tr
                                   td
                                       li.list-group-item jcastillo
                                   td
                                       li.list-group-item 32566
                                   td
                                       li.list-group-item  100
                                   td
                                         li.list-group-item Nerthux
                                   td
                                         li.list-group-item 85
                                   td
                                         li.list-group-item  0
                                 tr
                                   td
                                       li.list-group-item MarioPerez
                                   td
                                       li.list-group-item 25579
                                   td
                                       li.list-group-item  100
                                   td
                                         li.list-group-item Renato
                                   td
                                         li.list-group-item 37
                                   td
                                         li.list-group-item  0

                                     tr
                                   td
                                       li.list-group-item gabureiru
                                   td
                                       li.list-group-item 14807
                                   td
                                       li.list-group-item  100

                                      //hasta aqui
                           IMG(src="https://talleresinformativos.files.wordpress.com/2015/02/2.png" align="right")


