div#bgventana{
    position: fixed;
    background:rgba(0,0,0,0.7);
    width:100%;
    height: 100%;
    top: 0px;;
    left: 0px;
    z-index: 1;
    visibility: hidden;
}
div#ventana{
    position: relative;
    background: white;
    border: solid #FFF 10px;
    width: 500px;
    height: 400px;
    top:50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -250px;
}

a.close{
    background-color: #414141;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    position: absolute;
    right: 5px;
    top: 5px;
    text-align: center;
    text-decoration: none;
    width: 28px;
}

a.close{
    background-color: #000;
}

span#dc{
    align-content: center;
    font-size: 14px;
    font-weight: bold;


}
span.score{
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    background-color: #aea79f;
    border-radius: 10px;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;


}
h2.top{
    text-align: center;
    font-size: 13px;
}

li.tabla{
    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding-bottom: 5px;

}
.tabla:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.tabla:last-child{
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
PRE.top{
    background-color: transparent;
    border: none;
    padding: 0px 0px;
}
input:required:invalid {

    border: 1px solid red;

}

input:required:valid {

    border: 1px solid #cccccc;

}
#L{
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    background-color: #e60415;
    border-radius: 10px;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
}

